<strong>
  Hello {{ organizer }}, <br />
</strong>
<p>
  A user has subscripted for you {{ title }} event, see details below:
</p>

<p>
  <strong>Username: </strong> {{ user }} <br />
  <strong>Contact: </strong> {{ email }} <br />
  <strong>Date: </strong> {{ date }} <br />
  <br />
</p>
